@if(array.lenght != 0){
  <div class="container">
    <table class="table">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Casos Positivos</th>
          <th>Casos Negativos</th>
          <th>Hospitalizados</th>
          <th>Muertos</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            @for (i of array; track i) {
                <td>{{ i.nombre }}</td>
                <td>{{ i.causas }}</td>
                <td>{{ i.consecuencias }}</td>
                <td>{{ i.tratamiento }}</td>
                <td>{{ i.tasa_mortalidad }}</td>
            }
        </tr>
      </tbody>
    </table>
  </div>
}


  
